[include]
    path = ~/Dropbox/conf/gitconfig.local # for my user name and email address
[push]
    default = simple
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[alias]
    st = status --short --branch
    sh = show
    so = remote show origin
    ad = add
    c = commit -v
    ci = commit -a
    cam = commit -a --amend
    co = checkout
    psuh = push
    # branch
    br = branch
    ba = branch -a           # Show all the branches including origin
    bm = branch --merged     # Show the branch already merged
    bn = branch --no-merged  # Show the branch not merged
    # log
    lp = log -p              # with diff
    lr = log origin          # log in origin
    # log tree
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    # diff
    dm = diff master           # diff against master
    dw = diff --color-words    # diff with color words
    dc = diff --cached         # diff ageinst cached one
    # edit unmerged file when conflict occured
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    # add unmerged file when conflict occured
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
    # grep
    gr = grep
    gn = grep -n
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/fujimotoshotaro/.gitignore_global
[difftool "sourcetree"]
	cmd = "diff-so-fancy "
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = 藤本 將太郎
	email = fujimotoshotaro@team-lab.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
